# Build output
build/

# Go
*.exe
*.test
*.out

# Node
web/node_modules/
web/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Email build output
email/dist/
email/node_modules/

# Storybook build output
web/storybook-static/

# TypeScript build info
*.tsbuildinfo
